{% extends 'base.html.twig' %}

{% block title %}TypeVehicule index{% endblock %}

{% block body %}
    <h1>Types de véhicules</h1>
    <a href="{{ path('type_vehicule_new') }}" class="listing_create_link">Créer un nouveau type</a>

    <div class="listing">
        <ul>
        {% for type_vehicule in type_vehicules %}
            <li>
                <h2>{{ type_vehicule.title }}</h2>
                <a href="{{ path('type_vehicule_edit', {'id': type_vehicule.id}) }}">Modifier</a>
                <a href="{{ path('type_vehicule_delete', {'id': type_vehicule.id}) }}">Supprimer</a>
            </li>
        {% else %}
            <p>Aucun type de véhicule</p>
        {% endfor %}
        </ul>
    </div>

{% endblock %}
