{% extends 'base.html.twig' %}

{% block title %}reservations{% endblock %}

{% block body %}
    <h1>Réservations</h1>
    <a href="{{ path('reservation_new') }}">Créer une nouvelle réservation</a>

    {% for reservation in reservations %}
        <ul>
            <li>
                <h2>Réservation n°{{ reservation.id }}</h2>
                <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">Modifier</a>
                <a href="{{ path('reservation_delete', {'id': reservation.id}) }}">Supprimer</a>
            </li>
        </ul>
    {% else %}
        <p>Aucune réservation</p>
    {% endfor %}

{% endblock %}
