<div>
  <h2>Product Add</h2>
  <div>
    <label>Product Name:
      <input [(ngModel)]="client.lastName" placeholder="LastName"/>
    </label><br>
    <label>Product Desc:
      <input [(ngModel)]="client.firstName" placeholder="FirstName"/>
    </label><br>
    <label>Product Price:
      <input [(ngModel)]="client.mail" placeholder="Mail"/>
    </label><br>
    <label>Product Price:
      <input [(ngModel)]="client.tel" placeholder="Tel"/>
    </label><br>
  </div>
  <button (click)="addClient()">Enregistrer</button>
</div>
