<div>
  <h2>Client</h2>
  <div>
    <label>LastName:
      <input [(ngModel)]="client.lastName" placeholder="LastName"/>
    </label><br>
    <label>FirstName:
      <input [(ngModel)]="client.firstName" placeholder="FirstName"/>
    </label><br>
    <label>Mail:
      <input [(ngModel)]="client.mail" placeholder="Mail"/>
    </label><br>
    <label>Tel:
      <input [(ngModel)]="client.tel" placeholder="Tel"/>
    </label><br>
  </div>
  <button (click)="addClient()">Enregistrer</button>
</div>

<div>
  <p ></p>
</div>
