<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">AdopteVaisseau</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="client">Client <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="employe">Employe <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
<div class="container">
  <h2>Client</h2>
  <div class="row">
      <div class="col-sm-6">
        <label for="inputNom">Nom</label>
        <input [(ngModel)]="client.lastName" id="inputNom" class="form-control" placeholder="Nom">
      </div>

      <div class="col-sm-6">
        <label for="inputPrenom">Prénom</label>
        <input [(ngModel)]="client.firstName" id="inputPrenom" class="form-control" placeholder="Prénom">
      </div>


      <div class="col-sm-6">
        <label for="inputMail">Mail</label>
        <input [(ngModel)]="client.mail" id="inputMail" class="form-control" placeholder="Mail">
      </div>

      <div class="col-sm-6">
        <label for="inputTel">Tel</label>
        <input [(ngModel)]="client.tel" id="inputTel" class="form-control" placeholder="Tel">
      </div>


      <div class="col-sm-12">
        <label for="inputAdress">Adress</label>
        <input [(ngModel)]="client.Adress" id="inputAdress" class="form-control" placeholder="Adresse">
      </div>

      <div class="col-sm-12">
        <label for="inputPermissionPilot">Permis pilote</label>
        <input type="checkbox" [checked]="client.isPermissionPilot" id="inputPermissionPilot" class="permissionPilot form-control">
      </div>

    <div class="col-sm-12">
      <button class=" col-sm-2 btn btn-primary" (click)="addClient()">Enregistrer</button>
    </div>

  </div>

  <div class="row">
    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Mail</th>
          <th>Tel</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients">
        <td>{{client.lastName}}</td>
        <td>{{client.firstName}}</td>
        <td>{{client.mail}}</td>
        <td>{{client.tel}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

