{% extends 'base.html.twig' %}

{% block body %}
    <button type="button" class="btn btn-dark _back" style="position: absolute; top: 5px; left: 5px;"><a style="color: aliceblue" href="{{ path('home.index') }}">Return to Home</a></button>
    <div class="jumbotron text-center">
        <h3>Data Controller</h3>
    </div>
{% endblock %}